@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,900&family=Roboto:wght@100;300&display=swap');
body {
    margin: 0;
    width: 98.9vw;
    height: 100vh;
}

.header {
    display: flex;
    height: max-content;
    width: 100vw;
    background-color: #6F40CE;
}

.info-header {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    background-color: #5B10AB;
    margin: 1vh auto 1vh auto;
    padding: 0 1vw 0 1vw;
    border-radius: 7px;
}

.entrar {
    color: aliceblue!important;
    width: max-content;
    height: max-content;
    position: relative;
    bottom: 1.5vh;
    margin: 10px;
    font-family: 'Roboto', 'Arial';
}

.logo {
    width: 120px;
    height: 40px;
}

.main {
    border-radius: 7px;
    box-shadow: 0 7px 7px rgba(1, 1, 1, 0.25);
    border: solid 0.7px #aaa;
}

.post {
    margin: 0 0 5% 0;
    /*border: solid #aaa 0.80px;*/
    height: max-content;
    justify-items: center;
    position: relative;
}

.itens {
    justify-content: space-between;
    width: max-content;
    height: max-content;
    margin: auto;
    display: flex;
}

#chamados {
    width: 30vw;
}

.abrir-chamado {
    height: max-content;
    position: static;
    padding: 1vw;
    margin: 1vw;
}

.perfil {
    width: 20vw;
    height: max-content;
    position: static;
    padding: 1vw;
    margin: 1vw;
}

.chat {
    width: 20vw;
    height: max-content;
    position: static;
    padding: 1vw;
    margin: 1vw;
}

.center-item {
    margin: auto;
    width: max-content;
    height: max-content;
}

.titulos {
    font-family: 'Roboto Flex', 'Arial';
    text-align: center;
}

.semi-titulos {
    font-family: 'Roboto', 'Arial';
}

.mensagens {
    margin-top: 2vh;
    position: relative;
    bottom: 1.4vh;
}

.campo-escrever-problema {
    position: static
}

.box-texto {
    border-radius: 7px;
    width: 100%;
    border: none;
    background-color: #ccc;
    height: 3vh;
    font-family: 'Roboto';
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    padding: 0;
}