body {
    margin: 0;
    width: 98.9vw;
    height: 100vh;
}

.header {
    display: flex;
    height: max-content;
    width: 98.9vw;
    background-color: #6F40CE;
}

.info-header {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    background-color: #5B10AB;
    margin: 10px auto 10px auto;
    padding: 3px;
    border-radius: 7px;
}

.entrar {
    color: aliceblue!important;
    width: max-content;
    height: max-content;
    padding: 10px;
    font-family: 'Roboto Flex', 'Arial';
}

.logo {
    width: 120px;
    height: 40px;
}

.main {
    border-radius: 7px;
    box-shadow: 0 7px 7px rgba(1, 1, 1, 0.25);
    border: solid 0.7px #aaa;
}

.post {
    margin: 0 0 5% 0;
    /*border: solid #aaa 0.80px;*/
    height: max-content;
    justify-items: center;
}

.itens {
    justify-content: space-between;
    width: max-content;
    height: max-content;
    margin: auto;
    display: flex;
}

#chamados {
    width: 30vw;
}

.abrir-chamado {
    height: max-content;
    position: static;
    padding: 1vw;
    margin: 1vw;
}

.perfil {
    width: 20vw;
    height: max-content;
    position: static;
    padding: 1vw;
    margin: 1vw;
}

.chat {
    width: 20vw;
    height: max-content;
    position: static;
    padding: 1vw;
    margin: 1vw;
}

.icon-perfil {
    margin: auto;
    width: max-content;
    height: max-content;
}