@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,900&family=Roboto:wght@100;300&display=swap');
body {
    margin: 0;
}

.header {
    display: flex;
    height: max-content;
    width: 100vw;
    background-color: #6F40CE;
}

.info-header {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    background-color: #5B10AB;
    margin: 1vh auto;
    padding: 0 0.5vw;
    border-radius: 10px;
}

.entrar {
    color: aliceblue!important;
    width: max-content;
    height: max-content;
    margin: 10px 10px 10px 10px;
    font-family: 'Roboto', 'Arial';
    font-weight: 1000;
}

.logo {
    width: 120px;
    height: 40px;
    left: 0!important;
}

.main {
    border-radius: 7px;
    box-shadow: 0 7px 7px rgba(1, 1, 1, 0.25);
    border: solid 0.7px #aaa;
}

.post {
    margin: 0 0 5% 0;
    height: max-content;
    justify-items: center;
}

#conteudo-post {
    padding: 1%;
}

#interacoes {
    border: solid 1px rgba(1, 1, 1, 0.25);
    border-radius: 10px;
    padding: 1vh 1vw;
}

.itens {
    justify-content: space-between;
    width: max-content;
    height: max-content;
    margin: auto;
    display: flex;
}

#chamados {
    width: 30vw;
}

.abrir-chamado {
    height: max-content;
    position: static;
    padding: 1vw;
    margin: 1vw;
}

.perfil {
    width: 20vw;
    height: max-content;
    position: static;
    padding: 1vw;
    margin: 1vw;
}

.chat {
    width: 20vw;
    height: max-content;
    position: static;
    padding: 1vw;
    margin: 1vw;
}

.center-item {
    margin: auto;
    width: max-content;
    height: max-content;
}

.titulos {
    font-family: 'Roboto Flex', 'Arial';
    margin-left: 1vw;
}

.semi-titulos {
    font-family: 'Roboto', 'Arial';
    font-weight: 500;
}

.campo-escrever-problema {
    position: static;
}

.box-texto {
    border-radius: 7px;
    width: 100%;
    border: none;
    background-color: #dddddd;
    height: max-content;
    font-family: 'Roboto';
    word-wrap: break-word;
    outline: none;
    text-indent: 1vw;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

#foto-nome {
    display: flex;
}

#anexar {
    padding: 2%;
}

#dispotivos {
    outline: none;
    margin: 1vh;
}